# Compiled class files
*.class

# Log files
*.log

# IDE files (IntelliJ)
.idea/
*.iml

# Eclipse files
.project
.classpath
.settings/

# VS Code
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
